<a href="https://colab.research.google.com/github/Edgar-IAH/IA-Grupo-45/blob/main/Semana_10/SVD_Equipo45.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Actividad de la Semana 10**
###**Reducción de Dimensionalidad - Descomposición en Valores Singulares (SVD) y Sistemas de Recomendación**

**Nombres y matrículas de los integrantes del equipo:**

* Eduardo Aldair Ahumada García Jurado - A01422929
* Edgar Rodolfo Escobar Gomez - A01793900
* Walter André Hauri Rosales - A01794237
* Héctor Salvador Montañez Alvarez - A01332665
* Jaime Andres Palacios Campaña - A01794023

En cada sección deberás incluir todas las líneas de código necesarias para responder a cada uno de los ejercicios.

## *Se trabajará con el conjunto de datos llamado "Restaurant & consumer", para la generación de un sistema de recomendación. Estos sistemas están dentro de los llamados métodos no supervisados y que se basan en técnicas de reducción de dimensionalidad. El archivo a descargar se llama RCdata.zip y se encuentra en la siguiente liga del repositorio de la UCI:*
## *https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data*
## *En particular se trabajará con los siguientes archvios, los cuales contienen la información mínima que requerimos para esta actividad: rating_final.csv y geoplaces2.csv.*
## *El objetivo es diseñar tres sistemas de recomendación basados en la evaluación de los usarios a los restaurantes. Dicha evaluación será la general, la referente al servicio y la referente a la comida.*

In [27]:
# Incluye aquí todos módulos, librerías y paquetes que requieras.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from math import isnan
import seaborn as sns

#**Ejercicio-1.** 
## *Descarga los archivos y genera la matriz de utilidad en la cual los renglones son los usuarios (user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluaciones generales dadas por los usuarios (rating). En particular indica el tamaño de dicha matriz y despliega sus primeros 10 renglones.*

- Carga de la tabla de Sitios, la cual contiene la información de los restaurantes

In [28]:
url = "https://raw.githubusercontent.com/Edgar-IAH/IA-Grupo-45/main/Semana_10/geoplaces2.csv"
sitios = pd.read_csv(url, encoding='latin1')
sitios.head(10)

,placeID,latitude,longitude,the_geom_meter,name,address,city,state,country,fax,...,alcohol,smoking_area,dress_code,accessibility,price,url,Rambience,franchise,area,other_services
0,134999,18.915421,-99.184871,0101000020957F000088568DE356715AC138C0A525FC46...,Kiku Cuernavaca,Revolucion,Cuernavaca,Morelos,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,kikucuernavaca.com.mx,familiar,f,closed,none
1,132825,22.147392,-100.983092,0101000020957F00001AD016568C4858C1243261274BA5...,puesto de tacos,esquina santos degollado y leon guzman,s.l.p.,s.l.p.,mexico,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,f,open,none
2,135106,22.149709,-100.976093,0101000020957F0000649D6F21634858C119AE9BF528A3...,El Rincón de San Francisco,Universidad 169,San Luis Potosi,San Luis Potosi,Mexico,?,...,Wine-Beer,only at bar,informal,partially,medium,?,familiar,f,open,none
3,132667,23.752697,-99.163359,0101000020957F00005D67BCDDED8157C1222A2DC8D84D...,little pizza Emilio Portes Gil,calle emilio portes gil,victoria,tamaulipas,?,?,...,No_Alcohol_Served,none,informal,completely,low,?,familiar,t,closed,none
4,132613,23.752903,-99.165076,0101000020957F00008EBA2D06DC8157C194E03B7B504E...,carnitas_mata,lic. Emilio portes gil,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,permitted,informal,completely,medium,?,familiar,t,closed,none
5,135040,22.135617,-100.969709,0101000020957F00001B552189B84A58C15A2AAEFD2CA2...,Restaurant los Compadres,Camino a Simon Diaz 155 Centro,San Luis Potosi,SLP,Mexico,?,...,Wine-Beer,none,informal,no_accessibility,high,?,familiar,f,closed,none
6,132732,23.754357,-99.171288,0101000020957F00008A20E615808157C16272FECBF84F...,Taqueria EL amigo,Calle Mezquite Fracc Framboyanes,Cd Victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,none,casual,completely,low,?,familiar,f,open,none
7,132875,22.149901,-100.993779,0101000020957F00008A2A0747DE4758C11EB31D2A31A8...,shi ro ie,?,?,?,?,?,...,Wine-Beer,section,informal,no_accessibility,high,?,familiar,t,open,Internet
8,132609,23.760268,-99.165865,0101000020957F0000A478418BBA8057C133851EB22C4E...,Pollo_Frito_Buenos_Aires,tampico,victoria,Tamaulipas,Mexico,?,...,No_Alcohol_Served,not permitted,informal,completely,low,?,quiet,t,closed,none
9,135082,22.151448,-100.915099,0101000020957F0000A29FAF95CD4958C1FEEEBB73A991...,la Estrella de Dimas,Villa de Pozos 192 Villa de Pozos,San Luis Potosi,SLP,Mexico,?,...,No_Alcohol_Served,none,informal,no_accessibility,medium,?,familiar,f,closed,none

In [29]:
sitios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   placeID         130 non-null    int64
 1   latitude        130 non-null    float64
 2   longitude       130 non-null    float64
 3   the_geom_meter  130 non-null    object
 4   name            130 non-null    object
 5   address         130 non-null    object
 6   city            130 non-null    object
 7   state           130 non-null    object
 8   country         130 non-null    object
 9   fax             130 non-null    object
 10  zip             130 non-null    object
 11  alcohol         130 non-null    object
 12  smoking_area    130 non-null    object
 13  dress_code      130 non-null    object
 14  accessibility   130 non-null    object
 15  price           130 non-null    object
 16  url             130 non-null    object
 17  Rambience       130 non-null    object
 18  franchise       130 non-null    object
 19  area            130 non-null    object
 20  other_services  130 non-null    object
dtypes: float64(2), int64(1), object(18)
memory usage: 21.5+ KB

- Carga la tabla de usuarios y sus opiniones acerca de los restaurantes

In [30]:
url = "https://raw.githubusercontent.com/Edgar-IAH/IA-Grupo-45/main/Semana_10/rating_final.csv"
users = pd.read_csv(url, encoding='latin1')
users.head(10)

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2
5  U1068   132740       0            0               0
6  U1068   132663       1            1               1
7  U1068   132732       0            0               0
8  U1068   132630       1            1               1
9  U1067   132584       2            2               2

In [31]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userID          1161 non-null   object
 1   placeID         1161 non-null   int64
 2   rating          1161 non-null   int64
 3   food_rating     1161 non-null   int64
 4   service_rating  1161 non-null   int64
dtypes: int64(4), object(1)
memory usage: 45.5+ KB

In [32]:
columnas = sitios['name'].unique()
print(f'Se encontraron {len(columnas)} restaurantes')
filas = users['userID'].unique()
print(f'Se encontraron {len(filas)} usuarios')

Se encontraron 129 restaurantes
Se encontraron 138 usuarios

- Ahora creamos un nuevo dataframe que represente la matriz de utilidad de usuarios versus ratings para los restaurantes.

In [33]:

# Crea la matriz de utilidad para ratings vacía inicialmente
mat_util_ratings = pd.DataFrame()

# Hace un barrido de usuarios y restaurantes (arreglo "sitios") y crea cada fila y columna necesarias.
# Al hacerlo de esta manera se evitan falsos ratings iguales a cero ya que restaurantes sin opiniones no son incluídos en el dataframe

for este_usuario in users:
  for este_sitio in sitios:
    # Si aún no existe el usuario, crea la fila con la columna de sitios correspondiente
    
    # Si ya existe añade la columna para este sitio (reataurante)

SyntaxError: ignored

#**Ejercicio-2.**
## *Con el objetivo de obtener la información con respecto a los vectores latentes de los restaurantes, obtener dicha factorización SVD utilizando todas las componentes posibles, es decir, usando todos sus valores singulares. En particular indica la cantidad de valores singulares obtenidos.*

In [ ]:
None

#**Ejercicio-3.**
## *Usando la métrica de correlación de Pearon, obtener las 10 mejores recomendaciones de este modelo no supervisado con base a la información de alguien que evaluó bien de manera general al “Subway”. Despliega también el valor numérico de la correlación de Pearson de cada una de estas 10 recomendaciones. NOTA: No debe estar incluido “Subway” dentro de las recomendaciones.*

In [ ]:
None

#**Ejercicio-4.**
## *Disminuye ahora la dimensión de la factorización con un número de componentes tal, que las recomendaciones con esta menor cantidad de información coincidan en al menos 9 de las 10 recomendaciones dadas con todos los valores singulares. Indica la cantidad de valores singulares encontrado y la cantidad de información que contienen.*

In [ ]:
None

#**Ejercicio-5.**
## *Repite el ejercicio con el restaurante “"tacos de barbacoa enfrente del Tec". Incluye tus conclusiones.*

In [ ]:
None

#**Ejercicio-6.**
## *Repite los ejercicios 1 a 4 generando ahora la matriz de utilidad en la cual los renglones son los usuarios (user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluación dada a la comida (food_rating)- Incluye tus conclusiones.*

In [ ]:
None

#**Ejercicio-7.**
## *Repite los ejercicios 1 a 4 generando ahora la matriz de utilidad en la cual los renglones son los usuarios (user_ID), las columnas los nombres de los restaurantes (name) y las entradas la evaluación dada al servicio (service_rating). Incluye tus conclusiones.*

In [ ]:
None

#**Ejercicio-8.**
## *Incluye tus conclusiones finales. En particular indica la coincidencia o no de estos tres modelos.*

In [ ]:
None

###**Fin de la Actividad de la semana 10 - Sistemas de Recomendación y Reducción de Dimensionalidad con SVD.**